* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font: 1.8em Helvetica, Arial;
  background-color: #00FF7F;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

form input {
  border: 0;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
   border-radius: 25px;

}

form #button {
  color: #FFF;
  background: #2D9F0B;
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  background-color: #778899;}

#messages li:nth-child(odd) {
  background: #eee;
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
  
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */